<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2_1</key>
	<dict>
		<key>id</key>
		<string>2_1</string>
		<key>name</key>
		<string>01石洪利</string>
		<key>image</key>
		<string>01石洪利</string>
		<key>name_image</key>
		<string>2name_image_1</string>
	</dict>
	<key>2_2</key>
	<dict>
		<key>id</key>
		<string>2_2</string>
		<key>name</key>
		<string>02徐霆</string>
		<key>image</key>
		<string>02徐霆</string>
		<key>name_image</key>
		<string>2name_image_2</string>
	</dict>
	<key>2_3</key>
	<dict>
		<key>id</key>
		<string>2_3</string>
		<key>name</key>
		<string>03陈昭远</string>
		<key>image</key>
		<string>03陈昭远</string>
		<key>name_image</key>
		<string>2name_image_3</string>
	</dict>
	<key>2_4</key>
	<dict>
		<key>id</key>
		<string>2_4</string>
		<key>name</key>
		<string>04丁明列</string>
		<key>image</key>
		<string>04丁明列</string>
		<key>name_image</key>
		<string>2name_image_4</string>
	</dict>
	<key>2_5</key>
	<dict>
		<key>id</key>
		<string>2_5</string>
		<key>name</key>
		<string>05黎应和</string>
		<key>image</key>
		<string>05黎应和</string>
		<key>name_image</key>
		<string>2name_image_5</string>
	</dict>
	<key>2_6</key>
	<dict>
		<key>id</key>
		<string>2_6</string>
		<key>name</key>
		<string>06韩华</string>
		<key>image</key>
		<string>06韩华</string>
		<key>name_image</key>
		<string>2name_image_6</string>
	</dict>
	<key>2_7</key>
	<dict>
		<key>id</key>
		<string>2_7</string>
		<key>name</key>
		<string>07陈昭远</string>
		<key>image</key>
		<string>07陈昭远</string>
		<key>name_image</key>
		<string>2name_image_7</string>
	</dict>
	<key>2_8</key>
	<dict>
		<key>id</key>
		<string>2_8</string>
		<key>name</key>
		<string>08王玲</string>
		<key>image</key>
		<string>08王玲</string>
		<key>name_image</key>
		<string>2name_image_8</string>
	</dict>
	<key>2_9</key>
	<dict>
		<key>id</key>
		<string>2_9</string>
		<key>name</key>
		<string>09蒋峰</string>
		<key>image</key>
		<string>09蒋峰</string>
		<key>name_image</key>
		<string>2name_image_9</string>
	</dict>
	<key>2_10</key>
	<dict>
		<key>id</key>
		<string>2_10</string>
		<key>name</key>
		<string>10董唯元</string>
		<key>image</key>
		<string>10董唯元</string>
		<key>name_image</key>
		<string>2name_image_10</string>
	</dict>
</dict>
</plist>
