<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3_1</key>
	<dict>
		<key>id</key>
		<string>3_1</string>
		<key>name</key>
		<string>01丁焱团队</string>
		<key>image</key>
		<string>01丁焱团队</string>
		<key>name_image</key>
		<string>3name_image_1</string>
	</dict>
	<key>3_2</key>
	<dict>
		<key>id</key>
		<string>3_2</string>
		<key>name</key>
		<string>02罗清蓝团队</string>
		<key>image</key>
		<string>02罗清蓝团队</string>
		<key>name_image</key>
		<string>3name_image_2</string>
	</dict>
	<key>3_3</key>
	<dict>
		<key>id</key>
		<string>3_3</string>
		<key>name</key>
		<string>03孙致学团队</string>
		<key>image</key>
		<string>03孙致学团队</string>
		<key>name_image</key>
		<string>3name_image_3</string>
	</dict>
	<key>3_4</key>
	<dict>
		<key>id</key>
		<string>3_4</string>
		<key>name</key>
		<string>04周凯团队</string>
		<key>image</key>
		<string>04周凯团队</string>
		<key>name_image</key>
		<string>3name_image_4</string>
	</dict>
	<key>3_5</key>
	<dict>
		<key>id</key>
		<string>3_5</string>
		<key>name</key>
		<string>05李成龙团队</string>
		<key>image</key>
		<string>05李成龙团队</string>
		<key>name_image</key>
		<string>3name_image_5</string>
	</dict>
	<key>3_6</key>
	<dict>
		<key>id</key>
		<string>3_6</string>
		<key>name</key>
		<string>06陈向非团队</string>
		<key>image</key>
		<string>06陈向非团队</string>
		<key>name_image</key>
		<string>3name_image_6</string>
	</dict>
	<key>3_7</key>
	<dict>
		<key>id</key>
		<string>3_7</string>
		<key>name</key>
		<string>07殷江团队</string>
		<key>image</key>
		<string>07殷江团队</string>
		<key>name_image</key>
		<string>3name_image_7</string>
	</dict>
	<key>3_8</key>
	<dict>
		<key>id</key>
		<string>3_8</string>
		<key>name</key>
		<string>08梁晓飞团队</string>
		<key>image</key>
		<string>08梁晓飞团队</string>
		<key>name_image</key>
		<string>3name_image_8</string>
	</dict>
	<key>3_9</key>
	<dict>
		<key>id</key>
		<string>3_9</string>
		<key>name</key>
		<string>09虞文豪团队</string>
		<key>image</key>
		<string>09虞文豪团队</string>
		<key>name_image</key>
		<string>3name_image_9</string>
	</dict>
	<key>3_10</key>
	<dict>
		<key>id</key>
		<string>3_10</string>
		<key>name</key>
		<string>10韩涤非</string>
		<key>image</key>
		<string>10韩涤非</string>
		<key>name_image</key>
		<string>3name_image_10</string>
	</dict>
</dict>
</plist>
