<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>01胡朝阳</string>
		<key>image</key>
		<string>01胡朝阳</string>
		<key>name_image</key>
		<string>name_image_1</string>
	</dict>
	<key>2</key>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>02高峰</string>
		<key>image</key>
		<string>02高峰</string>
		<key>name_image</key>
		<string>name_image_2</string>
	</dict>
	<key>3</key>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>03李鹏</string>
		<key>image</key>
		<string>03李鹏</string>
		<key>name_image</key>
		<string>name_image_3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>04张云飞</string>
		<key>image</key>
		<string>04张云飞</string>
		<key>name_image</key>
		<string>name_image_4</string>
	</dict>
	<key>5</key>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>05詹正云</string>
		<key>image</key>
		<string>05詹正云</string>
		<key>name_image</key>
		<string>name_image_5</string>
	</dict>
	<key>6</key>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>06韩杰</string>
		<key>image</key>
		<string>06韩杰</string>
		<key>name_image</key>
		<string>name_image_6</string>
	</dict>
	<key>7</key>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>07彭朱容</string>
		<key>image</key>
		<string>07彭朱容</string>
		<key>name_image</key>
		<string>name_image_7</string>
	</dict>
	<key>8</key>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>name</key>
		<string>08倪文海</string>
		<key>image</key>
		<string>08倪文海</string>
		<key>name_image</key>
		<string>name_image_8</string>
	</dict>
	<key>9</key>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>name</key>
		<string>09马静</string>
		<key>image</key>
		<string>09马静</string>
		<key>name_image</key>
		<string>name_image_9</string>
	</dict>
	<key>10</key>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>name</key>
		<string>10邹湘坪</string>
		<key>image</key>
		<string>10邹湘坪</string>
		<key>name_image</key>
		<string>name_image_10</string>
	</dict>
</dict>
</plist>
