<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>爱丽丝</string>
		<key>image</key>
		<string>player1</string>
	</dict>
	<key>2</key>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>鲍伯</string>
		<key>image</key>
		<string>player2</string>
	</dict>
	<key>3</key>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>查尔斯</string>
		<key>image</key>
		<string>player3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>戴伦</string>
		<key>image</key>
		<string>player4</string>
	</dict>
	<key>5</key>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>鄂尔多斯</string>
		<key>image</key>
		<string>player5</string>
	</dict>
	<key>6</key>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>弗兰克</string>
		<key>image</key>
		<string>player6</string>
	</dict>
</dict>
</plist>
